sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"RWSTAN+SimSun";
	src:url("../fonts/7dc8f4aa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.83em;
	font-family: "RWSTAN+SimSun";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0181em;
}

.ie .stl_09 {
	letter-spacing: 0.24px;
}
@font-face {
	font-family:"MKCILR+SimSun";
	src:url("../fonts/6abec71a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.83em;
	font-family: "MKCILR+SimSun", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.012em;
}

.ie .stl_11 {
	letter-spacing: 0.16px;
}
.stl_12 {
	letter-spacing: 0em;
}

.ie .stl_12 {
	letter-spacing: 0px;
}
.stl_13 {
	letter-spacing: 0.006em;
}

.ie .stl_13 {
	letter-spacing: 0.08px;
}
.stl_14 {
	letter-spacing: 0.0002em;
}

.ie .stl_14 {
	letter-spacing: 0.0023px;
}
.stl_15 {
	letter-spacing: 0.0075em;
}

.ie .stl_15 {
	letter-spacing: 0.1px;
}
@font-face {
	font-family:"VGRTBV+Microsoft YaHei Light";
	src:url("../fonts/2f0cedfb-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 0.83em;
	font-family: "VGRTBV+Microsoft YaHei Light", "Times New Roman";
	color: #000000;
}
.stl_17 {
	line-height: 1.277344em;
}
.stl_18 {
	letter-spacing: 0.0001em;
}

.ie .stl_18 {
	letter-spacing: 0.0014px;
}
@font-face {
	font-family:"KEVPFP+Microsoft YaHei Light";
	src:url("../fonts/1663f108-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.83em;
	font-family: "KEVPFP+Microsoft YaHei Light";
	color: #000000;
}
.stl_20 {
	letter-spacing: -0.0017em;
}

.ie .stl_20 {
	letter-spacing: -0.0229px;
}
.stl_21 {
	letter-spacing: 0.0003em;
}

.ie .stl_21 {
	letter-spacing: 0.0033px;
}
.stl_22 {
	letter-spacing: -0.0015em;
}

.ie .stl_22 {
	letter-spacing: -0.0198px;
}
.stl_23 {
	letter-spacing: -0.0044em;
}

.ie .stl_23 {
	letter-spacing: -0.0587px;
}
.stl_24 {
	letter-spacing: -0.0005em;
}

.ie .stl_24 {
	letter-spacing: -0.0064px;
}
.stl_25 {
	letter-spacing: -0.006em;
}

.ie .stl_25 {
	letter-spacing: -0.08px;
}
.stl_26 {
	letter-spacing: -0.0026em;
}

.ie .stl_26 {
	letter-spacing: -0.0348px;
}
.stl_27 {
	letter-spacing: -0.0077em;
}

.ie .stl_27 {
	letter-spacing: -0.1022px;
}
.stl_28 {
	letter-spacing: -0.0001em;
}

.ie .stl_28 {
	letter-spacing: -0.0013px;
}
.stl_29 {
	letter-spacing: -0.009em;
}

.ie .stl_29 {
	letter-spacing: -0.1195px;
}
.stl_30 {
	letter-spacing: 0.0004em;
}

.ie .stl_30 {
	letter-spacing: 0.005px;
}
.stl_31 {
	letter-spacing: 0.0009em;
}

.ie .stl_31 {
	letter-spacing: 0.0117px;
}
.stl_32 {
	letter-spacing: -0.096em;
}

.ie .stl_32 {
	letter-spacing: -1.2749px;
}
.stl_33 {
	letter-spacing: -0.0002em;
}

.ie .stl_33 {
	letter-spacing: -0.002px;
}
.stl_34 {
	letter-spacing: -0.0016em;
}

.ie .stl_34 {
	letter-spacing: -0.0215px;
}
.stl_35 {
	letter-spacing: -0.0013em;
}

.ie .stl_35 {
	letter-spacing: -0.0168px;
}
