sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
	width: 49.58333em;
}
.stl_04 {
	height: 7.008333em;
}
.ie .stl_04 {
	height: 70.08334em;
}
@font-face {
	font-family:"FDKBFR+SimSun";
	src:url("../fonts/be170436-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_05 {
	font-size: 0.88em;
	font-family: "FDKBFR+SimSun", "Times New Roman";
	color: #000000;
}
.stl_06 {
	line-height: 1em;
}
.stl_07 {
	letter-spacing: 0.0114em;
}

.ie .stl_07 {
	letter-spacing: 0.16px;
}
@font-face {
	font-family:"OOGATO+Times New Roman Bold";
	src:url("../fonts/588d1cc2-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_08 {
	font-size: 0.88em;
	font-family: "OOGATO+Times New Roman Bold";
	color: #000000;
}
.stl_09 {
	line-height: 1.107422em;
}
.stl_10 {
	letter-spacing: -0.0051em;
}

.ie .stl_10 {
	letter-spacing: -0.0719px;
}
.stl_11 {
	letter-spacing: 0em;
}

.ie .stl_11 {
	letter-spacing: -0.0001px;
}
.stl_12 {
	letter-spacing: -0.0004em;
}

.ie .stl_12 {
	letter-spacing: -0.0053px;
}
@font-face {
	font-family:"MQUCMT+Times New Roman";
	src:url("../fonts/8c6dd6b1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 0.88em;
	font-family: "MQUCMT+Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.0002em;
}

.ie .stl_14 {
	letter-spacing: 0.003px;
}
.stl_15 {
	letter-spacing: 0.0001em;
}

.ie .stl_15 {
	letter-spacing: 0.0009px;
}
.stl_16 {
	letter-spacing: -0.0001em;
}

.ie .stl_16 {
	letter-spacing: -0.0018px;
}
.stl_17 {
	letter-spacing: -0.0015em;
}

.ie .stl_17 {
	letter-spacing: -0.0212px;
}
.stl_18 {
	letter-spacing: -0.0009em;
}

.ie .stl_18 {
	letter-spacing: -0.0133px;
}
@font-face {
	font-family:"HSKEQE+SimSun";
	src:url("../fonts/204e15f6-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 0.83em;
	font-family: "HSKEQE+SimSun";
	color: #000000;
}
