sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"NKOGRP+SimSun";
	src:url("../fonts/a798f1b1-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.88em;
	font-family: "NKOGRP+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0049em;
}

.ie .stl_09 {
	letter-spacing: -0.0696px;
}
.stl_10 {
	letter-spacing: -0.0042em;
}

.ie .stl_10 {
	letter-spacing: -0.0596px;
}
.stl_11 {
	letter-spacing: -0.0037em;
}

.ie .stl_11 {
	letter-spacing: -0.0516px;
}
.stl_12 {
	letter-spacing: -0.005em;
}

.ie .stl_12 {
	letter-spacing: -0.0704px;
}
.stl_13 {
	letter-spacing: -0.0033em;
}

.ie .stl_13 {
	letter-spacing: -0.0465px;
}
.stl_14 {
	letter-spacing: -0.0004em;
}

.ie .stl_14 {
	letter-spacing: -0.0053px;
}
@font-face {
	font-family:"HUQOIP+SimSun";
	src:url("../fonts/d32b3dbd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.88em;
	font-family: "HUQOIP+SimSun";
	color: #000000;
}
.stl_16 {
	letter-spacing: 0em;
}

.ie .stl_16 {
	letter-spacing: 0px;
}
.stl_17 {
	letter-spacing: -0.0055em;
}

.ie .stl_17 {
	letter-spacing: -0.0781px;
}
.stl_18 {
	letter-spacing: -0.0053em;
}

.ie .stl_18 {
	letter-spacing: -0.0749px;
}
.stl_19 {
	letter-spacing: -0.0029em;
}

.ie .stl_19 {
	letter-spacing: -0.0413px;
}
.stl_20 {
	letter-spacing: -0.0114em;
}

.ie .stl_20 {
	letter-spacing: -0.16px;
}
.stl_21 {
	letter-spacing: -0.0052em;
}

.ie .stl_21 {
	letter-spacing: -0.0726px;
}
.stl_22 {
	letter-spacing: -0.0051em;
}

.ie .stl_22 {
	letter-spacing: -0.0712px;
}
.stl_23 {
	letter-spacing: -0.0067em;
}

.ie .stl_23 {
	letter-spacing: -0.095px;
}
.stl_24 {
	letter-spacing: -0.0028em;
}

.ie .stl_24 {
	letter-spacing: -0.04px;
}
.stl_25 {
	letter-spacing: -0.0102em;
}

.ie .stl_25 {
	letter-spacing: -0.143px;
}
.stl_26 {
	letter-spacing: -0.0057em;
}

.ie .stl_26 {
	letter-spacing: -0.08px;
}
.stl_27 {
	letter-spacing: -0.0085em;
}

.ie .stl_27 {
	letter-spacing: -0.12px;
}
.stl_28 {
	letter-spacing: -0.0086em;
}

.ie .stl_28 {
	letter-spacing: -0.1218px;
}
.stl_29 {
	letter-spacing: -0.004em;
}

.ie .stl_29 {
	letter-spacing: -0.0563px;
}
.stl_30 {
	letter-spacing: -0.0041em;
}

.ie .stl_30 {
	letter-spacing: -0.0584px;
}
.stl_31 {
	letter-spacing: -0.0044em;
}

.ie .stl_31 {
	letter-spacing: -0.062px;
}
.stl_32 {
	letter-spacing: 0.0114em;
}

.ie .stl_32 {
	letter-spacing: 0.16px;
}
.stl_33 {
	letter-spacing: 0.0074em;
}

.ie .stl_33 {
	letter-spacing: 0.1035px;
}
.stl_34 {
	letter-spacing: -0.006em;
}

.ie .stl_34 {
	letter-spacing: -0.0847px;
}
.stl_35 {
	letter-spacing: -0.0039em;
}

.ie .stl_35 {
	letter-spacing: -0.0547px;
}
.stl_36 {
	letter-spacing: -0.0077em;
}

.ie .stl_36 {
	letter-spacing: -0.108px;
}
.stl_37 {
	letter-spacing: -0.0071em;
}

.ie .stl_37 {
	letter-spacing: -0.1px;
}
.stl_38 {
	letter-spacing: -0.0062em;
}

.ie .stl_38 {
	letter-spacing: -0.0876px;
}
.stl_39 {
	letter-spacing: -0.0038em;
}

.ie .stl_39 {
	letter-spacing: -0.0533px;
}
.stl_40 {
	letter-spacing: -0.013em;
}

.ie .stl_40 {
	letter-spacing: -0.183px;
}
.stl_41 {
	letter-spacing: -0.0088em;
}

.ie .stl_41 {
	letter-spacing: -0.1232px;
}
.stl_42 {
	letter-spacing: -0.0045em;
}

.ie .stl_42 {
	letter-spacing: -0.0639px;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "HUQOIP+SimSun";
	color: #000000;
}
.stl_44 {
	letter-spacing: 0.0067em;
}

.ie .stl_44 {
	letter-spacing: 0.08px;
}
