sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"ABIGIB+SimSun";
	src:url("../fonts/c898f073-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.88em;
	font-family: "ABIGIB+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0086em;
}

.ie .stl_09 {
	letter-spacing: -0.1214px;
}
.stl_10 {
	letter-spacing: -0.102em;
}

.ie .stl_10 {
	letter-spacing: -1.4362px;
}
.stl_11 {
	letter-spacing: 0em;
}

.ie .stl_11 {
	letter-spacing: 0px;
}
.stl_12 {
	letter-spacing: -0.011em;
}

.ie .stl_12 {
	letter-spacing: -0.1549px;
}
.stl_13 {
	letter-spacing: -0.0037em;
}

.ie .stl_13 {
	letter-spacing: -0.0516px;
}
.stl_14 {
	letter-spacing: -0.125em;
}

.ie .stl_14 {
	letter-spacing: -1.76px;
}
.stl_15 {
	letter-spacing: -0.0042em;
}

.ie .stl_15 {
	letter-spacing: -0.0597px;
}
.stl_16 {
	letter-spacing: -0.136em;
}

.ie .stl_16 {
	letter-spacing: -1.9149px;
}
.stl_17 {
	letter-spacing: -0.005em;
}

.ie .stl_17 {
	letter-spacing: -0.0704px;
}
.stl_18 {
	letter-spacing: -0.0049em;
}

.ie .stl_18 {
	letter-spacing: -0.0697px;
}
.stl_19 {
	letter-spacing: -0.0024em;
}

.ie .stl_19 {
	letter-spacing: -0.0344px;
}
@font-face {
	font-family:"UMSBCA+SimSun";
	src:url("../fonts/ac824f70-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_20 {
	font-size: 0.88em;
	font-family: "UMSBCA+SimSun";
	color: #000000;
}
.stl_21 {
	letter-spacing: -0.0114em;
}

.ie .stl_21 {
	letter-spacing: -0.16px;
}
.stl_22 {
	letter-spacing: -0.0076em;
}

.ie .stl_22 {
	letter-spacing: -0.1071px;
}
.stl_23 {
	letter-spacing: -0.0047em;
}

.ie .stl_23 {
	letter-spacing: -0.0664px;
}
.stl_24 {
	letter-spacing: -0.0004em;
}

.ie .stl_24 {
	letter-spacing: -0.0053px;
}
.stl_25 {
	letter-spacing: -0.0067em;
}

.ie .stl_25 {
	letter-spacing: -0.094px;
}
.stl_26 {
	letter-spacing: -0.0053em;
}

.ie .stl_26 {
	letter-spacing: -0.0751px;
}
.stl_27 {
	letter-spacing: -0.2273em;
}

.ie .stl_27 {
	letter-spacing: -3.2px;
}
.stl_28 {
	letter-spacing: -0.0052em;
}

.ie .stl_28 {
	letter-spacing: -0.0725px;
}
.stl_29 {
	letter-spacing: -0.227em;
}

.ie .stl_29 {
	letter-spacing: -3.1962px;
}
.stl_30 {
	letter-spacing: -0.0055em;
}

.ie .stl_30 {
	letter-spacing: -0.0771px;
}
.stl_31 {
	letter-spacing: -0.0046em;
}

.ie .stl_31 {
	letter-spacing: -0.0641px;
}
.stl_32 {
	letter-spacing: -0.375em;
}

.ie .stl_32 {
	letter-spacing: -5.28px;
}
.stl_33 {
	letter-spacing: -0.307em;
}

.ie .stl_33 {
	letter-spacing: -4.3226px;
}
.stl_34 {
	letter-spacing: -0.0073em;
}

.ie .stl_34 {
	letter-spacing: -0.1032px;
}
.stl_35 {
	letter-spacing: -0.3056em;
}

.ie .stl_35 {
	letter-spacing: -4.3033px;
}
.stl_36 {
	letter-spacing: -0.0034em;
}

.ie .stl_36 {
	letter-spacing: -0.0477px;
}
.stl_37 {
	letter-spacing: -0.295em;
}

.ie .stl_37 {
	letter-spacing: -4.1536px;
}
.stl_38 {
	letter-spacing: -0.0041em;
}

.ie .stl_38 {
	letter-spacing: -0.0581px;
}
.stl_39 {
	letter-spacing: -0.0048em;
}

.ie .stl_39 {
	letter-spacing: -0.0681px;
}
.stl_40 {
	letter-spacing: -0.239em;
}

.ie .stl_40 {
	letter-spacing: -3.3651px;
}
.stl_41 {
	letter-spacing: -0.114em;
}

.ie .stl_41 {
	letter-spacing: -1.6051px;
}
.stl_42 {
	letter-spacing: -0.0027em;
}

.ie .stl_42 {
	letter-spacing: -0.0387px;
}
.stl_43 {
	font-size: 0.75em;
	font-family: "UMSBCA+SimSun";
	color: #000000;
}
.stl_44 {
	letter-spacing: 0.0067em;
}

.ie .stl_44 {
	letter-spacing: 0.08px;
}
