sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"IPOHER+SimSun";
	src:url("../fonts/aaa420f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 1.83em;
	font-family: "IPOHER+SimSun", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0027em;
}

.ie .stl_09 {
	letter-spacing: 0.0781px;
}
.stl_10 {
	font-size: 0.88em;
	font-family: "IPOHER+SimSun", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0041em;
}

.ie .stl_11 {
	letter-spacing: -0.0581px;
}
.stl_12 {
	font-size: 1.5em;
	font-family: "IPOHER+SimSun", "Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0.0012em;
}

.ie .stl_13 {
	letter-spacing: 0.0288px;
}
@font-face {
	font-family:"JVEDCO+Times New Roman";
	src:url("../fonts/c80b6647-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 0.88em;
	font-family: "JVEDCO+Times New Roman";
	color: #000000;
}
.stl_15 {
	line-height: 1.107422em;
}
.stl_16 {
	letter-spacing: -0.0007em;
}

.ie .stl_16 {
	letter-spacing: -0.0097px;
}
.stl_17 {
	letter-spacing: -0.0052em;
}

.ie .stl_17 {
	letter-spacing: -0.0733px;
}
.stl_18 {
	font-size: 0.75em;
	font-family: "IPOHER+SimSun", "Times New Roman";
	color: #000000;
}
.stl_19 {
	letter-spacing: -0.0001em;
}

.ie .stl_19 {
	letter-spacing: -0.0009px;
}
.stl_20 {
	font-size: 0.75em;
	font-family: "JVEDCO+Times New Roman";
	color: #000000;
}
.stl_21 {
	letter-spacing: 0.001em;
}

.ie .stl_21 {
	letter-spacing: 0.0115px;
}
.stl_22 {
	letter-spacing: 0em;
}

.ie .stl_22 {
	letter-spacing: 0px;
}
.stl_23 {
	letter-spacing: 0.0003em;
}

.ie .stl_23 {
	letter-spacing: 0.0039px;
}
.stl_24 {
	letter-spacing: -0.0028em;
}

.ie .stl_24 {
	letter-spacing: -0.0333px;
}
.stl_25 {
	letter-spacing: 0.0033em;
}

.ie .stl_25 {
	letter-spacing: 0.04px;
}
.stl_26 {
	letter-spacing: -0.01em;
}

.ie .stl_26 {
	letter-spacing: -0.12px;
}
.stl_27 {
	letter-spacing: 0.0024em;
}

.ie .stl_27 {
	letter-spacing: 0.0293px;
}
.stl_28 {
	letter-spacing: -0.0042em;
}

.ie .stl_28 {
	letter-spacing: -0.0596px;
}
.stl_29 {
	letter-spacing: -0.004em;
}

.ie .stl_29 {
	letter-spacing: -0.0563px;
}
.stl_30 {
	letter-spacing: 0.0037em;
}

.ie .stl_30 {
	letter-spacing: 0.0519px;
}
.stl_31 {
	letter-spacing: -0.0083em;
}

.ie .stl_31 {
	letter-spacing: -0.1166px;
}
.stl_32 {
	letter-spacing: -0.0048em;
}

.ie .stl_32 {
	letter-spacing: -0.067px;
}
.stl_33 {
	letter-spacing: -0.0047em;
}

.ie .stl_33 {
	letter-spacing: -0.0664px;
}
.stl_34 {
	letter-spacing: -0.0012em;
}

.ie .stl_34 {
	letter-spacing: -0.0172px;
}
.stl_35 {
	letter-spacing: 0.0043em;
}

.ie .stl_35 {
	letter-spacing: 0.0611px;
}
.stl_36 {
	letter-spacing: -0.0022em;
}

.ie .stl_36 {
	letter-spacing: -0.031px;
}
.stl_37 {
	letter-spacing: 0.0044em;
}

.ie .stl_37 {
	letter-spacing: 0.0616px;
}
.stl_38 {
	letter-spacing: 0.0041em;
}

.ie .stl_38 {
	letter-spacing: 0.058px;
}
.stl_39 {
	letter-spacing: 0.0039em;
}

.ie .stl_39 {
	letter-spacing: 0.0548px;
}
.stl_40 {
	letter-spacing: 0.004em;
}

.ie .stl_40 {
	letter-spacing: 0.0558px;
}
.stl_41 {
	letter-spacing: -0.0046em;
}

.ie .stl_41 {
	letter-spacing: -0.0652px;
}
.stl_42 {
	letter-spacing: -0.0004em;
}

.ie .stl_42 {
	letter-spacing: -0.0053px;
}
.stl_43 {
	letter-spacing: -0.0055em;
}

.ie .stl_43 {
	letter-spacing: -0.0774px;
}
.stl_44 {
	letter-spacing: -0.0049em;
}

.ie .stl_44 {
	letter-spacing: -0.0685px;
}
.stl_45 {
	letter-spacing: 0.0059em;
}

.ie .stl_45 {
	letter-spacing: 0.0829px;
}
.stl_46 {
	letter-spacing: 0.0038em;
}

.ie .stl_46 {
	letter-spacing: 0.0533px;
}
.stl_47 {
	letter-spacing: -0.0034em;
}

.ie .stl_47 {
	letter-spacing: -0.0477px;
}
.stl_48 {
	letter-spacing: -0.0037em;
}

.ie .stl_48 {
	letter-spacing: -0.0516px;
}
@font-face {
	font-family:"GBIKFJ+SimSun";
	src:url("../fonts/1f0f87e4-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_49 {
	font-size: 0.75em;
	font-family: "GBIKFJ+SimSun";
	color: #000000;
}
.stl_50 {
	letter-spacing: 0.0067em;
}

.ie .stl_50 {
	letter-spacing: 0.08px;
}
